# 리스트와 튜플

# 1. 리스트 (list)

## 1.1 리스트 생성하기

In [5]:
a = [1,2,3,4,5]
b=(1,2,3,4,5)
print(a)
print(b)
print(type(a))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
<class 'list'>

In [6]:
b = [3 , 'hot', 3.14, False, [1.3], ('a', 'b')]
print(b)
print(type(b))

[3, 'hot', 3.14, False, [1.3], ('a', 'b')]
<class 'list'>

In [7]:
c = []
print(c)
print(type(c))

[]
<class 'list'>

In [10]:
d = list()
d_2=[]

print(d)
print(d_2)
print(id(d))
print(id(d_2))

[]
[]
1410201216000
1410201220288

In [12]:
e = list(1)
print(e) #list안에는 iterable(반복가능한객체여야함)=시퀀스여야함

TypeError: 'int' object is not iterable

## 1.2 리스트 인덱스 접근

In [13]:
fruit = ['apple', 'banana', 'cherry']
print(fruit[0])
print(fruit[1])
print(fruit[2])

apple
banana
cherry

In [15]:
print(fruit[3])

IndexError: list index out of range

In [27]:
b = [3 , 'hot', 3.14, False, [1,3], ('a', 'b')]

print(type(b[0]))
print(type(b[1]))
print(type(b[2]))

<class 'int'>
<class 'str'>
<class 'float'>

In [28]:
b[4][0]

1

## 1.3 슬라이싱

In [ ]:
fruit = ['apple', 'banana', 'cherry']

test=fruit[0:3]
fruit[0:3]


print(id(fruit))
print(id(test))  #뽑아낸걸 다시 리스트로 묶었다. 다시 새로 생성한거기때문에 위치가 다름

1410223173760
1410223022528

In [32]:
fruit = ['apple', 'banana', 'cherry']

fruit[0:3:2]   #뽑은 요소들을 다시 리스트로 묶어서 반환해줌

['apple', 'cherry']

In [ ]:
fruit = ['apple', 'banana', 'cherry']

fruit[:1]

['apple']

In [40]:
fruit = ['apple', 'banana', 'cherry']

fruit[-1::-1]

['cherry', 'banana', 'apple']

## 1.4 다양한 인덱스 접근

In [42]:
a = [1, 2, 3, 4, 5, 6, 7]

In [43]:
a[2:8:2]

[3, 5, 7]

In [45]:
# 요소 할당

a[1:4]=['a', 'b','c']
print(a)

[1, 'a', 'b', 'c', 5, 6, 7]

In [47]:
# 삭제

del a[1:4]
print(a)

[1]

In [48]:
#스트링은 불변개체라 요소를 빼고 넣거나 변경하면 메모리주소가변경됨
#그러나 list는 가변개체라 요소를 빼고 넣거나 변경해도 메모리 주소가 동일함

## 1.5 리스트 다양한 기능들 1

In [49]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
print(1 in a)
print(10 in a)



print('------------'*10) 


print(1 not in a)
print(10 not in a)

True
False
------------------------------------------------------------------------------------------------------------------------
False
True

In [52]:
print(len(a))

9

In [54]:
#연결
b = [10, 11 ,12]
c = [(3 ,1), 'b', ('a', 'b')]

print(a+b)
print(a+c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, (3, 1), 'b', ('a', 'b')]

In [55]:
print(b*10)

[10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12, 10, 11, 12]

## 1.6 리스트의 다양한 기능들 2 - 요소 추가

1. append()

In [67]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [10, 11, 12]
c = (13, 14)

a.append(10)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. extend()

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

In [72]:
a.append((4,5))
b.extend([4,5])   # extend는 iterable 한 요소만 가능

3. insert()

In [75]:
a = [1, 2, 3]    # insert는 원하는곳에 원하는 요소를 넣는것
b = [4, 5, 6]

In [76]:
a.insert(1, 100)
print(a)

[1, 100, 2, 3]

In [77]:
a.insert(3, 200)
a

[1, 100, 2, 200, 3]

## 1.7 리스트의 다양한 기능들 3 - 요소 삭제

1. pop()

In [101]:
a = [1,2,3,4,5]

In [103]:
print(a)
print(a)
a.pop(0)

[2, 3, 4, 5]
[2, 3, 4, 5]

2

In [87]:
print(a.pop())
print(id(a))
print(a)
print(len(a))

5
1410223210432
[2, 3, 4]
3

2. remove()

In [109]:
asd = [1, 2 ,3]

asd.remove(3)
print(asd)

[1, 2]

## 1.8 리스트의 다양한 기능들 4

1. index()

In [110]:
a = [1,2,3,3,4,5]

In [111]:
print(a.index(3))

2

In [112]:
a[2]

3

2. count()

In [114]:
print(a.count(3))

2

3. reverse()        #반환하는 값이 없음

In [118]:
a.reverse()
print(a)

[5, 4, 3, 3, 2, 1]

In [126]:
a.reverse()
print(a)

[1, 2, 3, 3, 4, 5]

4. sort() #반환값이없ㅇ므

In [129]:
b = [3,5,1,6]

In [130]:
b.sort()
print(b)

[1, 3, 5, 6]

In [132]:
b.sort(reverse=True)
print(b)

[6, 5, 3, 1]

## 1.9 리스트 할당과 복사

### 1.9.1 할당

In [133]:
a= [1,2,3,4,5]
b = a

print(a is b)

True

In [134]:
print(id(a))
print(id(b))

1410224723392
1410224723392

In [135]:
#값변경해보기

a[0]=100

print(a)
print(b)

[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

### 1.9.2 얕은 복사

In [152]:
a =[1,2,3,4,5]
b= a.copy()

print(a is b)
print(id(a))
print(id(b))
b

False
1410222715392
1410225379648

[1, 2, 3, 4, 5]

In [ ]:
print(id(a[0]) is id(b[0]))

True

### 1.9.3 깊은 복사

- 1차원

3

3

- 2차원

## 1.10 다차원 리스트

- 2차원 리스트

In [ ]:
a = [[1,2],[3,4],[5,6]]
print(len(a))
#3에접근하고싶다면  a[1][0]
a[1][0]

- 3차원 리스트

In [160]:
a = [[[1,2],[3,4],[5,6]],[[7,8],[9,10],[11,6]]]
print(len(a))
#6에 접근하고 싶다면
a[1][0][0]

2

7

- 다차원 리스트 복사: .deepcopy()

In [168]:
import copy

b = copy.deepcopy(a)
print(id(a))
a[0][0]=10

a
b

1410200663616

[[[1, 2], [3, 4], [5, 6]], [[7, 8], [9, 10], [11, 6]]]

# 2. 튜플

## 2.1 튜플 생성하기

In [2]:
a = (1,2,3,4,5)
b = 6,7,8,9,10
print(a)
print(b)
print(type(a))
print(type(b))

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
<class 'tuple'>
<class 'tuple'>

In [3]:
# 다른자료형들의 모임

a = ('하나', 2 , True, {'a': 1})

print(type(a))

<class 'tuple'>

In [5]:
# 튜플이 튜플을 가진경우

b = 'id', ('kim', 'jang','hong'), (True, False, 'True')
print(b)
print(type(b))

('id', ('kim', 'jang', 'hong'), (True, False, 'True'))
<class 'tuple'>

In [10]:
# 튜플이 아닌것

a = 10
b= '1' 
c= (10)
d= (10,)
e= '1',
print(type(a))  #소괄호를 생략했다해서 저게 바로 튜플되는것은아님
print(type(b))
print(type(c))   # 소괄호가 있따해도 안에것이 먼저 인식이됨
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

## 2.2 튜플의 다양한 기능들 1

1. 요소 개수 확인

In [ ]:
a =1,2,3,4,5,6,7,8,9
print(len(a))

5

2. 인덱싱 및 슬라이싱

In [17]:
print(a[1])
print(a[1],a[2])
print(a[:4])

print(type(a[2:]))

2
2 3
(1, 2, 3, 4)
<class 'tuple'>

## 2.3 튜플의 다양한 기능들 2

In [20]:
# 더하기

a = 1,2,3
b = 'a', 'b','c'

c= a+b
d= a*3
print(c)
print(d)
print(type(c))
print(type(d))

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 1, 2, 3, 1, 2, 3)
<class 'tuple'>
<class 'tuple'>

## 2.3 불변의 객체 튜플

### 2.3.1 요소 변경 및 삭제해보기

In [ ]:
a[0] = 10 #튜플은 불변의 객체라 변경불가

TypeError: 'tuple' object does not support item assignment

In [ ]:
del a[0] #튜플은 불변의 객체라 변경불가

TypeError: 'tuple' object doesn't support item deletion

### 2.3.2 요소 삭제 및 변경 방법

In [32]:
#요소 변경
a = 1,2,3

a= ('A',) + a[1:]
print(a)

('A', 2, 3)

In [33]:
#두번째요소 변경

a = (a[0],) + ('B',) + a[2:]
print(a)

('A', 'B', 3)

In [34]:
#두번째 요소 삭제

a = (a[0],)+ a[2:]
print(a)

('A', 3)

# 3. 동시할당 (Unpacking)

# 4. 입력 함수 input()

## 4.1 입력함수 실습 1

In [36]:
input_value = input('여기에 값을 입력해주세요: ')
print(input_value)
print(type(input_value))

1111
<class 'str'>

## 4.2 입력함수 실습 2

In [38]:
input_value = int(input('여기에 값을 입력해주세요: '))

print(input_value)
print(type(input_value))

1111
<class 'int'>

In [41]:
input_value = int(float(input('여기에 값을 입력해주세요: ')))  # 1.1값 입력

print(input_value)
print(type(input_value))

1
<class 'int'>

## 4.3 입력함수 실습 3
사용자가 입력한 값이 1.1일 때 int() 내장 함수를 활용하여 정수로 변환하려면 에러 발생

In [43]:
input_value = int(input('여기에 값을 입력해주세요: '))  # 1.1값 입력

print(input_value)
print(type(input_value))

ValueError: invalid literal for int() with base 10: '1.1'

실수를 입력받았을 때 실수를 정수로 변환하는 방법

In [45]:
input_value = int(float(input('여기에 값을 입력해주세요: ')))  # 1.1값 입력

print(input_value)
print(type(input_value))

1
<class 'int'>

# 5. split()

In [60]:
result = '1,2,3'.split(',')
print(type(result))
print(result)
print(type(result[0]))

<class 'list'>
['1', '2', '3']
<class 'str'>

In [ ]:
result2 = '1.2.3'.split('.')
print(type(result2))
print(result2)

<class 'list'>
['1', '2', '3']

In [62]:
result3 = '서호야 안녕'.split()
print(type(result3))
print(result3)

print(len(result3))

<class 'list'>
['서호야', '안녕']
2

# 6. map() 내장함수

In [86]:
a= [1.2, 2.5, 3.7, 4.6 ]

test = map(int, a)
print(test)
print(type(test))

<map object at 0x000001FD28626650>
<class 'map'>

In [87]:
a = list(test)

print(a)
print(type(a))

[1, 2, 3, 4]
<class 'list'>

# 실습 01

In [88]:
#input으로 실수 4개 받고 (1.2, 2.3, 3.7, 4.5)
#split()함수로 실수 4개를 list로 변환하기
#map 함수로 각 요소의 type을 float으로 변환하기
#최종결과 [1.2, 2.3, 3.7, 4.5]

a =input()
print(a)
a= a.split(', ')
print(a)
a = map(float, a)
print(a)
a = list(a)
print(a)
print(type(a))
print(type(a[0]))

1.2, 2.3, 3.7, 4.5
['1.2', '2.3', '3.7', '4.5']
<map object at 0x000001FD29823220>
[1.2, 2.3, 3.7, 4.5]
<class 'list'>
<class 'float'>

In [ ]:
number = int(input())
a= list(range(2, number+1, 2))  #질문   append는 list의 내장함수임, 다른곳에 붙이면 안됨, 그리고 반환값도 ㅇ없음
a.append(number)
print(a)

[2, 4, 6, 8, 10, 10]

# 실습 02

[문제] 사용자의 이름을 물어보고 이어서 2개의 정수를 받아서 덧셈을 한 후 결과를 출력하는 프로그램을 작성해보세요.
- 실행
    이름을 입력하시오: 엔코아 \
    엔코아씨, 안녕하세요? \
    파이썬에 오신 것을 환영합니다. \
    첫 번째 정수를 입력하세요: 300 \
    두 번째 정수를 입력하세요: 400 \
    300과 400의 합은 700 입니다.

In [29]:
a = input('실행 이름을 입력하시오')
print(a,'씨, 안녕하세요? \n파이썬에 온 것을 환영합니다')
print(f'{a}씨, 안녕하세요? \n파이썬에 온 것을 환영합니다')
b=int(input('첫번째 정수를 입력하세요'))
c=int(input('두번째 정수를 입력하세요'))
d=b+c

print(b,'과',c,'의', '합은' , d, '입니다')

print(f'{b}과 {c}의 합은 {b+c}입니다')

adf 씨, 안녕하세요?
파이썬에 온 것을 환영합니다
adf씨, 안녕하세요?
파이썬에 온 것을 환영합니다
300 과 400 의 합은 700 입니다
300과 400의 합은 700입니다

# 실습 03
[문제] \
사용자로부터 “hh:mm:ss” 형태의 시간 값을 입력 받습니다. \
예를 들면 12시 33분 23초일 때 “12:22:23”과 같이 입력 받습니다. \
이 때 결과가 아래와 같이 나오도록 구현해보세요.

- hh:mm:ss의 형태로 시간을 입력해주세요: 12:33:23
- 시: 12
- 분: 33
- 초: 23

In [ ]:
a= input('hh:mm:ss의 형태로 시간을 입력해주세요')        #   h,m,s = input('hhmmss').split(':')
a = a.split(':')
print(a)
print("시: ", a[0])
print("분: ", a[1])
print("초: ", a[2])

['12', '33', '23']
시:  12
분:  33
초:  23

# 실습 04
[문제]
사용자로부터 값을 입력 받습니다. \
국어, 영어, 수학, 과학 점수를 한 번에 입력 받습니다. \
이를 kor, eng, mat, sci라는 변수에 각각 저장하고, 사칙 연산을 활용하여 평균 점수를 산출해보세요 \

[실행 결과]
- 국어, 영어, 수학, 과학 점수를 입력해주세요: 98,100,96,100
- 평균 점수는 98.5입니다.

In [ ]:
a = input('국어,영어,수학,과학 점수를 입력해주세요: ') # a,b,c,d= input().split(',')
a = a.split(',')
a = map(int, a)
a= list(a)
print('평균 점수는',(a[0]+a[1]+a[2]+a[3])/4,'입니다.') #print(f'평균점수는 {(a+b+c+d)/2}입니다')

평균 점수는 98.5 입니다.